@import "../app.css";

body {
  background-color: var(--color-blue-mint);
}

#box {
  background-color: var(--color-black-025);
  max-width: 728px;
  min-width: 25%;
  padding: 24px 48px;
  border-radius: 4px;
}

#box #box__title {
  margin-bottom: 24px;
  color: var(--color-primary);
}

#box form #box__inputgroup {
  margin-bottom: 12px;
}
#box form button {
  border-radius: 4px;
  transition: all 0.15s ease-in;
  width: 100%;
  cursor: pointer;
  margin-top: 12px;
  border: 1px solid var(--color-blue-mint);
  color: var(--color-primary);
  background-color: var(--color-black-05);
}
#box form #box__inputgroup label {
  color: var(--color-primary);
}
#box form #box__inputgroup input {
  transition: all 0.15s ease-in;
  border-radius: 4px;
  outline: 1px solid var(--color-black-025) !important;
  border: 1px solid var(--color-blue-mint);
}

/* Any Properties of Style */
#box form #box__inputgroup input:hover,
#box form #box__inputgroup input:focus {
  border: 1.5px solid var(--color-black-05);
}

#box form button:hover {
  background-color: var(--color-blue-mint);
  color: var(--color-black-05);
  border: 1px solid var(--color-black-05);
  font-weight: bold;
}
