@import "app.css";

#button_redirect {
    background-color: var(--color-blue);
    text-decoration: none;
    font-size: 14px;
    margin: 4px;
    color: var(--color-black-05);
}
#button_redirect:hover{ 
    opacity: .6;
    transition: all ease-in .1s;
}